<div class="field">
  <label for={{@for}}>{{@label}}:</label>
  <Input
    @id={{@id}}
    @type={{@type}}
    @value={{@value}}
    @placeholder={{@placeholder}}
    @class={{if @showError 'input errorBorder' 'input'}}
    {{on 'input' (fn this.inputFieldChanged)}}
  />
   {{#if @helpMsg}}
    <em class="help-msg">{{@helpMsg}}</em>
   {{/if}}
  {{#if @showError}}
    <p class="error">{{@errorMessage}}</p>
  {{/if}}
</div>
