<div class="tasks-container">
  {{#if @showActiveTasks}}
    <div id="active">
      <h2>Active Tasks</h2>
      <div class="tasks-details">
        {{#each @activeTasks as |task|}}
          <Task::Holder
            @task={{task}}
            @onChange={{@onTaskChange}}
            @allowChangePercentage={{true}}
            @onStausChange={{this.onStatusChange}}
            @onPercentageChange={{this.onPercentageChange}}
            @onSubmit={{@onSubmit}}
          />
        {{/each}}
      </div>
    </div>
  {{/if}}
  {{#if @showBlockedTasks}}
    <div id="blocked">
      <h2>Blocked Tasks</h2>
      <div class="tasks-details">
        {{#each @blockedTasks as |task|}}
          <Task::Holder
            @task={{task}}
            @onChange={{@onTaskChange}}
            @onStausChange={{this.onStatusChange}}
            @onPercentageChange={{this.onPercentageChange}}
            @onSubmit={{@onSubmit}}
          />
        {{/each}}
      </div>
    </div>
  {{/if}}
  {{#if @showPendingTasks}}
    <div id="pending">
      <h2>Pending Tasks</h2>
      <div class="tasks-details">
        {{#each @pendingTasks as |task|}}
          <Task::Holder
            @task={{task}}
            @onChange={{@onTaskChange}}
            @onStausChange={{this.onStatusChange}}
            @onPercentageChange={{this.onPercentageChange}}
            @onSubmit={{@onSubmit}}
          />
        {{/each}}
      </div>
    </div>
  {{/if}}
  {{#if @showCompletedTasks}}
    <div id="completed">
      <h2>Completed Tasks</h2>
      <div class="tasks-details">
        {{#each @completedTasks as |task|}}
          <div class="task-card">
            <Task-Details @task={{task}} @isCompletedTask={{true}}></Task-Details>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>