<div class="tasks-container">
  <h2 class="tasks-container__title">{{@userSelectedTask.label}} Tasks</h2>
  {{#if @tasksToShow.length}}
    {{#each @tasksToShow as |task|}}
      <div>
        <Task::Holder
          @task={{task}}
          @onTaskChange={{@onTaskChange}}
          @onStausChange={{this.onStatusChange}}
          @onPercentageChange={{this.onPercentageChange}}
          @onTaskUpdate={{@onTaskUpdate}}
          @isLoading={{@isLoading}}
          @userSelectedTask={{@userSelectedTask}}
        />
      </div>
    {{/each}}
  {{else}}
    <div class="no-tasks-found">No tasks found!</div>
  {{/if}}  
</div>