<div class="tasks-container">
  <h2 class="tasks-container__title">{{@tasksToShow.[0].status}} Tasks</h2>
  {{#each @tasksToShow as |task|}}
    <div class="tasks-container__details">
      <Task::Holder
        @task={{task}}
        @onTaskChange={{@onTaskChange}}
        @onStausChange={{this.onStatusChange}}
        @onPercentageChange={{this.onPercentageChange}}
        @onTaskUpdate={{@onTaskUpdate}}
      />
    </div>
  {{/each}}
</div>