{{#if this.state}}
  {{#if (eq this.state "get-started")}}
    <SignUp::GetStarted
      @changeRouteParams={{this.changeRouteParams}}
      @state={{this.state}}
    />
  {{else if (eq this.state "thank-you")}}
    <SignUp::GetStarted
      @changeRouteParams={{this.changeRouteParams}}
      @state={{this.state}}
    />
  {{else}}
    <SignUp::Form
      @changeRouteParams={{this.changeRouteParams}}
      @register={{this.registerUser}}
      @userDetails={{this.userDetails}}
      @onChange={{this.handleInputChange}}
      @state={{this.state}}
      @isSubmitClicked={{this.isSubmitClicked}}
      @isButtonDisabled={{this.isButtonDisabled}}
    />
  {{/if}}
{{/if}}
<div class="login-register__error">
  <p> {{this.errorMessage}} </p>
</div>
