<form class="form">
  <h2>{{this.title}}</h2>
  {{#each this.fields as |field|}}
  {{#let this.formData as | myFormData |}}
    <FormInput
      @id={{field.id}}
      @for={{field.for}}
      @label={{field.label}}
      @type={{field.type}}
      @value={{get this.formData field.id}}
      @errorMessage={{field.errorMessage}}
      @required={{field.required}}
      @showError={{field.showError}}
      @onChange={{this.handleFieldChange}}
      {{!-- @validator={{field.validator}} --}}
    />
    {{/let}}
  {{/each}}
  {{#if this.isSubmitDisabled }}
    <button
      class='submitButton disabledButton'
      type="submit"
      disabled={{true}}
    >
      Submit
    </button>
    {{else}}
      <button
      class='submitButton'
      type="submit"
      {{on 'click' (fn this.handleSubmit)}}
      >
        Submit
    </button>
  {{/if}}
</form>

{{outlet}}
