{{page-title "My Tasks"}}

<div class="tasks-page">
  <SideBar
    @taskStatusList={{this.taskStatuses}}
    @showDropDown={{this.showDropDown}}
    @toggleDropDown={{this.toggleDropDown}}
    @changeUserSelectedTask={{this.changeUserSelectedTask}}
  />
  <Tasks
    @userSelectedTask={{this.userSelectedTask}}
    @tasksToShow={{this.tasksToShow}}
    @onTaskChange={{this.onTaskChange}}
    @onTaskUpdate={{this.handleUpdateTask}}
    @isLoading={{this.isLoading}}
  />
</div>