{{page-title "My Tasks"}}

<div  class="tasks-screen_wrapper">
  <SideBar
    @showDropDown={{this.showDropDown}}
    @toggleDropDown={{this.toggleDropDown}}
    @toggleActiveTasks={{this.toggleActiveTasks}}
    @toggleBlockedTasks={{this.toggleBlockedTasks}}
    @togglePendingTasks={{this.togglePendingTasks}}
  />
  <Tasks
    @activeTasks={{this.activeTasksList}}
    @pendingTasks={{this.pendingTasksList}}
    @blockedTasks={{this.blockedTasksList}}
    @showActiveTasks={{this.showActiveTasks}}
    @showBlockedTasks={{this.showBlockedTasks}} 
    @showPendingTasks={{this.showPendingTasks}}
    @onTaskChange={{this.onTaskChange}}
    @onSubmit={{this.handleUpdateTask}}
  />
</div>