{{page-title "My Tasks"}}

<div  class="tasks-screen_wrapper">
  <SideBar
    @taskStatusList={{this.taskStatusList}}
    @showDropDown={{this.showDropDown}}
    @toggleDropDown={{this.toggleDropDown}}
    @toggleTasks={{this.toggleTasks}}
  />
  <Tasks
    @tasksToShow={{this.tasksToShow}}
    @onTaskChange={{this.onTaskChange}}
    @onTaskUpdate={{this.handleUpdateTask}}
  />
</div>